{% extends "layout.twig" %}

{% block content %}
    <form action="{{ path_for('test') }}" method="post">
        {{ csrf() }}
        <input type="submit" value="go">
    </form>
    <h1>Bienvenue</h1>
{% endblock %}
